[user]
	email = jonathan.russ@bluewin.ch
	name = Jonathan Russ
	signingKey = ""
[gpg]
	program = gpg
	format = openpgp
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[init]
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
