registry=https://registry.npmjs.org/
//bin.swisscom.com/artifactory/api/npm/swisscom-npm-virtual/:_authToken=
//registry.npmjs.org/:_authToken=
//bin.swisscom.com/artifactory/api/npm/apps-team-npm-virtual/:_authToken=
