registry=https://artifactory.swisscom.com/artifactory/api/npm/npm-remote/
proxy=http://aproxy.corproot.net:8080/
https-proxy=http://aproxy.corproot.net:8080/
no-proxy=bin.swisscom.com,artifactory.swisscom.com
always-auth=true
strict-ssl=false
save-exact=true