[user]
	email = {{ .email }}
	name = {{ .name }}
{{- if ne .gpg_key "" }}
	signingKey = {{ .gpg_key }}
{{- end }}
[gpg]
	program = gpg
	format = openpgp
[commit]
	gpgSign = {{ ne .gpg_key "" }}
[tag]
	forceSignAnnotated = {{ ne .gpg_key "" }}
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = true
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile =
