{{- $wakatime_key := output "sh" "-c" "security find-generic-password -s 'wakatime' -a 'api-key' -w 2>/dev/null || true" | trim }}
{{- if ne $wakatime_key "" -}}
[settings]
api_key = {{ $wakatime_key }}
{{- else -}}
# WARNING: WakaTime API key not found in keychain. Run: secret:set wakatime api-key
{{- end }}
