{{- $wakatime_key := includeTemplate "keychain" (list "WakaTime" "jonathan" .keychain_name .keychain_lookup_field) }}
{{- if ne $wakatime_key "" -}}
[settings]
api_key = {{ $wakatime_key }}
{{- end }}
