registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken={{ keyring "registry.npmjs.org" "npm" }}
{{ if eq .machine_type "work" -}}
//bin.swisscom.com/artifactory/api/npm/:_authToken={{ keyring "bin.swisscom.com" "swisscom-npm" }}
//bin.swisscom.com/artifactory/api/npm/apps-team-npm-virtual/:_authToken={{ keyring "bin.swisscom.com" "apps-team-npm" }}
{{ end -}}
