{
  "version": 2,
  "plugins": {
    "agent-sdk-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/agent-sdk-dev/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.612Z"
      }
    ],
    "atlassian@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/atlassian/f22e7075136a",
        "version": "f22e7075136a",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "atomic-agents@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/atomic-agents/b15ca449a812",
        "version": "b15ca449a812",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:31.960Z"
      }
    ],
    "aws-serverless@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/aws-serverless/1.3.0",
        "version": "1.3.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "chrome-devtools-mcp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/chrome-devtools-mcp/1.6.0",
        "version": "1.6.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:30.616Z"
      }
    ],
    "claude-code-setup@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/claude-code-setup/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "claude-md-management@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/claude-md-management/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "cloudinary@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/cloudinary/1.1.2",
        "version": "1.1.2",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "code-review@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-review/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.619Z"
      }
    ],
    "code-simplifier@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-simplifier/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "coderabbit@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/coderabbit/1.1.1",
        "version": "1.1.1",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "commit-commands@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/commit-commands/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.618Z"
      }
    ],
    "context7@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/context7/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.615Z"
      }
    ],
    "data-engineering@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/data-engineering/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:29.520Z"
      }
    ],
    "data@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/data/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:29.519Z"
      }
    ],
    "deploy-on-aws@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/deploy-on-aws/1.3.0",
        "version": "1.3.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "discord@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/discord/0.0.4",
        "version": "0.0.4",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "feature-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/feature-dev/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.621Z"
      }
    ],
    "figma@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/figma/2.2.81",
        "version": "2.2.81",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "firecrawl@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/firecrawl/1.0.9",
        "version": "1.0.9",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "frontend-design@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/frontend-design/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.614Z"
      }
    ],
    "github@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/github/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.620Z"
      }
    ],
    "gitkraken-hooks@gitkraken": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/gitkraken/gitkraken-hooks/3.1.70",
        "version": "3.1.70",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "gitlab@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/gitlab/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.502Z"
      }
    ],
    "hookify@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/hookify/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.617Z"
      }
    ],
    "huggingface-skills@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/huggingface-skills/1.0.18",
        "version": "1.0.18",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "kotlin-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/kotlin-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "learning-output-style@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/learning-output-style/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "linear@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/linear/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.619Z"
      }
    ],
    "mcp-server-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/mcp-server-dev/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.608Z"
      }
    ],
    "microsoft-docs@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/microsoft-docs/0.3.1",
        "version": "0.3.1",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "notion@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/notion/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "nuxtseo-content@nuxt-seo-claude-plugins": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/nuxt-seo-claude-plugins/nuxtseo-content/0.14.4",
        "version": "0.14.4",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z",
        "gitCommitSha": "8ba64cfeee1f3190b3c7749e2d3194d8c9b0f145"
      }
    ],
    "playground@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/playground/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.611Z"
      }
    ],
    "playwright@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/playwright/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.621Z"
      }
    ],
    "plugin-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/plugin-dev/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.616Z"
      }
    ],
    "postman@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/postman/1.2.0",
        "version": "1.2.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:29.074Z"
      }
    ],
    "pr-review-toolkit@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/pr-review-toolkit/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.612Z"
      }
    ],
    "prisma@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/prisma/815dbc4a045a",
        "version": "815dbc4a045a",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "pyright-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/pyright-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "railway@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/railway/1.3.6",
        "version": "1.3.6",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:30.276Z",
        "gitCommitSha": "191601b4954527a87f4f004eaa355c8f30a855bf"
      }
    ],
    "ralph-loop@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/ralph-loop/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "rc@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/rc/bcce7a3261b1",
        "version": "bcce7a3261b1",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:29.301Z"
      }
    ],
    "security-guidance@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/security-guidance/2.0.6",
        "version": "2.0.6",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "skill-creator@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/skill-creator/unknown",
        "version": "unknown",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:54:17.610Z"
      }
    ],
    "slack@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/slack/1.1.0",
        "version": "1.1.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:29.054Z"
      }
    ],
    "sourcegraph@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/sourcegraph/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "stripe@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/stripe/0.3.1",
        "version": "0.3.1",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:30.238Z",
        "gitCommitSha": "cc67124fa6ed230cda567e598dc9b06e17e23f40"
      }
    ],
    "supabase@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/supabase/0.1.12",
        "version": "0.1.12",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:28.932Z"
      }
    ],
    "superpowers@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/superpowers/6.1.1",
        "version": "6.1.1",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "swift-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/swift-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "typescript-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/typescript-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z"
      }
    ],
    "vercel@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/vercel/0.44.0",
        "version": "0.44.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:11:30.322Z"
      }
    ],
    "watch@claude-video": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-video/watch/0.2.0",
        "version": "0.2.0",
        "installedAt": "2026-07-22T19:01:11.762Z",
        "lastUpdated": "2026-07-22T19:01:11.762Z",
        "gitCommitSha": "83da59fa78c3eee9e20f515fe75c438bb5166efd"
      }
    ]
  }
}