{
  "version": 2,
  "plugins": {
    "agent-sdk-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/agent-sdk-dev/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.297Z"
      }
    ],
    "atlassian@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/atlassian/f4911dba81f2",
        "version": "f4911dba81f2",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:00.418Z"
      }
    ],
    "atomic-agents@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/atomic-agents/94220182f88d",
        "version": "94220182f88d",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "aws-serverless@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/aws-serverless/1.1.1",
        "version": "1.1.1",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:03.162Z",
        "gitCommitSha": "c65ee436b0db77bb75d380aef6fbdc9b114edf2a"
      }
    ],
    "chrome-devtools-mcp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/chrome-devtools-mcp/1.3.0",
        "version": "1.3.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "claude-code-setup@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/claude-code-setup/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "claude-md-management@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/claude-md-management/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "cloudinary@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/cloudinary/1.1.1",
        "version": "1.1.1",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "code-review@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-review/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.225Z"
      }
    ],
    "code-simplifier@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/code-simplifier/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "coderabbit@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/coderabbit/1.1.1",
        "version": "1.1.1",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:00.380Z"
      }
    ],
    "commit-commands@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/commit-commands/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.211Z"
      }
    ],
    "context7@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/context7/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.133Z"
      }
    ],
    "data-engineering@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/data-engineering/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:01.338Z"
      }
    ],
    "data@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/data/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:01.370Z"
      }
    ],
    "deploy-on-aws@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/deploy-on-aws/1.3.0",
        "version": "1.3.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:02.967Z",
        "gitCommitSha": "c65ee436b0db77bb75d380aef6fbdc9b114edf2a"
      }
    ],
    "discord@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/discord/0.0.4",
        "version": "0.0.4",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "feature-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/feature-dev/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.282Z"
      }
    ],
    "figma@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/figma/2.2.50",
        "version": "2.2.50",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "firecrawl@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/firecrawl/1.0.9",
        "version": "1.0.9",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:00.399Z"
      }
    ],
    "frontend-design@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/frontend-design/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.170Z"
      }
    ],
    "github@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/github/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.180Z"
      }
    ],
    "gitkraken-hooks@gitkraken": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/gitkraken/gitkraken-hooks/3.1.68",
        "version": "3.1.68",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "gitlab@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/gitlab/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.322Z"
      }
    ],
    "hookify@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/hookify/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.201Z"
      }
    ],
    "huggingface-skills@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/huggingface-skills/1.0.8",
        "version": "1.0.8",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:01.395Z"
      }
    ],
    "kotlin-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/kotlin-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "learning-output-style@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/learning-output-style/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "linear@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/linear/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.273Z"
      }
    ],
    "mcp-server-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/mcp-server-dev/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.146Z"
      }
    ],
    "microsoft-docs@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/microsoft-docs/0.3.1",
        "version": "0.3.1",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z",
        "gitCommitSha": "4fa4d3569fad7b21fec0ff5572f2ca96860d4b2a"
      }
    ],
    "notion@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/notion/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:01.362Z"
      }
    ],
    "nuxtseo-content@nuxt-seo-claude-plugins": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/nuxt-seo-claude-plugins/nuxtseo-content/0.14.4",
        "version": "0.14.4",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z",
        "gitCommitSha": "8ba64cfeee1f3190b3c7749e2d3194d8c9b0f145"
      }
    ],
    "playground@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/playground/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.253Z"
      }
    ],
    "playwright@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/playwright/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.161Z"
      }
    ],
    "plugin-dev@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/plugin-dev/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.311Z"
      }
    ],
    "postman@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/postman/1.2.0",
        "version": "1.2.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:00.219Z"
      }
    ],
    "pr-review-toolkit@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/pr-review-toolkit/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.193Z"
      }
    ],
    "prisma@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/prisma/815dbc4a045a",
        "version": "815dbc4a045a",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z",
        "gitCommitSha": "815dbc4a045a29e3b81510ba0e3ab806f1baaf0e"
      }
    ],
    "pyright-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/pyright-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "railway@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/railway/1.3.1",
        "version": "1.3.1",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:02.105Z",
        "gitCommitSha": "aa1e055b0f18d13787232b164cfb7416b553bd03"
      }
    ],
    "ralph-loop@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/ralph-loop/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "rc@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/rc/e28ef7dac29c",
        "version": "e28ef7dac29c",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "security-guidance@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/security-guidance/2.0.6",
        "version": "2.0.6",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "skill-creator@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/skill-creator/unknown",
        "version": "unknown",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:22:21.238Z"
      }
    ],
    "slack@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/slack/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z",
        "gitCommitSha": "7b9458950d38bb01ddb48b669f9fa89bcdfd98b8"
      }
    ],
    "sourcegraph@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/sourcegraph/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z",
        "gitCommitSha": "cfe3d44476957b16d1575261bef6b2dc7cb1e0b7"
      }
    ],
    "stripe@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/stripe/0.2.0",
        "version": "0.2.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:02.101Z",
        "gitCommitSha": "d9527bfc2d0993f3d2a650501e53e4f68d179ca3"
      }
    ],
    "supabase@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/supabase/0.1.11",
        "version": "0.1.11",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:00.636Z"
      }
    ],
    "superpowers@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/superpowers/6.0.3",
        "version": "6.0.3",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:01.353Z"
      }
    ],
    "swift-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/swift-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "typescript-lsp@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/typescript-lsp/1.0.0",
        "version": "1.0.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z"
      }
    ],
    "vercel@claude-plugins-official": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-plugins-official/vercel/0.44.0",
        "version": "0.44.0",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:20:01.377Z"
      }
    ],
    "watch@claude-video": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/claude-video/watch/0.1.3",
        "version": "0.1.3",
        "installedAt": "2026-06-19T10:17:36.034Z",
        "lastUpdated": "2026-06-19T10:17:36.034Z",
        "gitCommitSha": "c333c2289e57bf040b32846f18d669e3f8edad9b"
      }
    ]
  }
}