{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-06-19T12:49:12.927Z"
  },
  "claude-video": {
    "source": {
      "source": "github",
      "repo": "bradautomates/claude-video"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-video",
    "lastUpdated": "2026-05-22T13:54:34.609Z"
  },
  "gitkraken": {
    "source": {
      "source": "directory",
      "path": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/gitkraken"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/gitkraken",
    "lastUpdated": "2026-06-19T10:15:21Z"
  },
  "nuxt-seo-claude-plugins": {
    "source": {
      "source": "github",
      "repo": "nuxt-seo-pro/claude-plugins"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/nuxt-seo-claude-plugins",
    "lastUpdated": "2026-06-16T14:25:15.820Z",
    "autoUpdate": true
  }
}