#!/usr/bin/env bash

# ---------------------------- Proxy configuration --------------------------- #

export ALWAYS_PROXY_PROBE="${ALWAYS_PROXY_PROBE:-false}"
export PROXY_PROTOCOL="${PROXY_PROTOCOL:-http}"
export PROXY_HOST="${PROXY_HOST:-localhost}"
export PROXY_PORT="${PROXY_PORT:-8080}"
export PROXY_DNS="${PROXY_DNS:-}"
export NO_PROXY="${NO_PROXY:-localhost,127.0.0.1}"
export NO_PROXY_DNS="${NO_PROXY_DNS:-}"

# ----------------------------------- Auth ----------------------------------- #

export NTLM_CREDENTIALS="${NTLM_CREDENTIALS:-}"

# ----------------------------------- Node ----------------------------------- #

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY="${NODE_REPL_HISTORY:-$HOME/.node_history}"
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE="${NODE_REPL_HISTORY_SIZE:-32768}"
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE="${NODE_REPL_MODE:-sloppy}"

# ---------------------------------- Python ---------------------------------- #

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING="${PYTHONIOENCODING:-UTF-8}"

# ------------------------------ Locale & encoding --------------------------- #

# Prefer US English and use UTF-8.
export LANG="${LANG:-en_US.UTF-8}"
export LC_ALL="${LC_ALL:-en_US.UTF-8}"

# ---------------------------------- History --------------------------------- #

# Increase history size. Allow 32³ entries; the default is lower.
export HISTSIZE="${HISTSIZE:-32768}"
export HISTFILESIZE="${HISTFILESIZE:-$HISTSIZE}"
# Omit duplicates and commands that begin with a space from history (bash-only).
export HISTCONTROL="${HISTCONTROL:-ignoreboth}"

# ------------------------------ Pager & manuals ----------------------------- #

# Don’t clear the screen after quitting a manual page.
export MANPAGER="${MANPAGER:-less -X}"

# ------------------------------------ GPG ----------------------------------- #

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
# shellcheck disable=SC2155
export GPG_TTY="$(tty)"

# ------------------------------ macOS quirks -------------------------------- #

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING="${BASH_SILENCE_DEPRECATION_WARNING:-1}"

# --------------------------- Default user prompt ---------------------------- #

# Set our username so prompts that respect DEFAULT_USER can hide it.
export DEFAULT_USER="${DEFAULT_USER:-$USER}"

# ----------------------------------- Paths ---------------------------------- #

# Add more things to PATH only specific to this specific system
# This will be automatically added to PATH by .paths
export PATH_ADD="${PATH_ADD:-}"

# ----------------------------------- SSH ------------------------------------ #

# This seems to cause some error with the zsh syntax highlighting
# AUTOSTART_SSH_AGENT="true"
